[submodule "vimfiles/vundle"]
	path = vimfiles/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "tmux-powerline"]
	path = tmuxfiles/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "tmuxfiles/tmux-powerline"]
	path = tmuxfiles/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
